<form [formGroup]="loginForm" (submit)="handleLoginFormSubmit()">
  <div class="my-10">
    <label for="email">Email</label>
    <input
      autocomplete="false"
      id="email"
      class="shadow-md border border-gray-200 rounded-lg p-2 w-full"
      type="email"
      formControlName="email"
    />
  </div>
  <div class="my-10">
    <label for="password">Contraseña</label>
    <input
      id="password"
      class="shadow-md border border-gray-200 rounded-lg p-2 w-full"
      type="password"
      formControlName="password"
    />
  </div>
  <button
    class="rounded-full shadow-md w-full bg-cyan-800 hover:bg-cyan-700 p-2 text-gray-50"
    type="submit"
    [disabled]="!loginForm.valid"
  >
    Ingresar
  </button>
</form>
